@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import "../../common.scss";

.item {
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic", sans-serif;
  color: $fontColorBlack;
  width: 30%;
  text-decoration: none;
  .img_box {
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    img {
      height: 100%;
    }
  }
  .item_title {
    display: flex;
    justify-content: left;
    margin: 15px 0;
    font-size: 20px;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .text_top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 2px solid $mainColor;
      padding: 0 0 5px 0;
      width: 100%;
      .cat_id {
        display: flex;
        flex-direction: row;
        .category {
          margin: 0 5px 0 0;
          padding-right: 5px;
          display: flex;
          border-right: 2px solid $mainColor;
        }
        .id {
          margin: 0;
        }
      }
      .time {
        display: flex;
        justify-content: right;
        width: 50%;
        margin: 0;
      }
    }
    .prices {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 10px 0 10px 0;
      font-weight: 700;
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .p_text {
          display: flex;
          margin: 0 0 10px 5px;
        }
        .p_point {
          display: flex;
          margin: 0 5px 10px 0;
        }
      }
    }
  }
}
